h4 {
    text-align: center;
}

textarea {
    padding: 5px;
    min-height: 150px;
    resize: vertical;
    border: none;
    box-shadow: 2px 2px rgb(0, 0, 0, 0.2);
    outline: none;
}

.modal {
    min-width: 1000px;
    /* min-height: ; */
}

.modal .row {
    letter-spacing: 2px;
}

.date-title {
    white-space: nowrap;
}

.paneFecha {
    /* background-color: #ebe7fd; */
    /* color: white; */
    padding: 0;
    margin: 0;
}